* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin: -5px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-image: url(black-iamge.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1rem;
}
main {
  width: 330px;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  margin: 0rem;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
h3 {
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #ffc10799;
  margin: 0 0.5rem 2rem;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.box {
  direction: rtl;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #ffffff;
  font-weight: bold;
}

.ul1 {
  list-style-type: circle;
  list-style: decimal;
  padding-right: 1rem;
}
.ul2 {
  list-style: decimal;
  padding-right: 1rem;
}
li {
  padding-right: 1rem;
}
span {
  background-color: #ffff0054;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.first-span {
  background-color: red;
  font-size: 1.7rem;
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
}
.last-span {
  background-color: #ffff0054;
  font-size: 1.7rem;
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
}
.link-websites {
  direction: ltr;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.p-wepsites {
  border-radius: 0.5rem;
  background-color: #0000ffa6;
  padding: 0.5rem;
}
